@charset "UTF-8";
.network__link, .customers__link, .button-sign, .footer-network__logo, textarea, .form-group-agrees__submit, .backdrop, .modal-contact__icon, .hero-button, .card__name, .card__thumb, .card, .work__item, .bt-portfolio__button, .site-nav__link,
.main-nav__logo,
.site-nav-contact__link,
.main-nav__text--inverse,
.address__email,
.address__tel {
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

body {
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  font-family: "Roboro", sans-serif;
  border: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav__link,
.main-nav__logo,
.site-nav-contact__link,
.main-nav__text--inverse,
.address__email,
.address__tel {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul,
p,
h2 {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-headline {
  padding-top: 0;
}

.headline {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 1200px;
}
.main-nav__logo {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.main-nav__text {
  color: #000000;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  color: #212121;
  padding: 32px 0;
  display: block;
  cursor: pointer;
}
.site-nav__link:focus, .site-nav__link:hover {
  color: #2196f3;
}
.site-nav__link--active {
  color: #2196f3;
  position: relative;
}
.site-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.site-nav-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}
.site-nav-contact__item:first-child {
  margin-left: 0;
}
.site-nav-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
.site-nav-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  padding: 32px 0;
  cursor: pointer;
}
.site-nav-contact__link:focus, .site-nav-contact__link:hover {
  color: #2196f3;
}

.portfolio-main {
  border-top: 1px solid #ececec;
}

.bt-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.bt-portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.bt-portfolio__button {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.bt-portfolio__button:hover, .bt-portfolio__button:focus {
  outline: none;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
}
.work__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  outline: none;
  text-decoration: none;
}
.card__thumb {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
}
.card:hover .card__thumb, .card:focus .card__thumb {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.card__text {
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
}
.card__img {
  position: relative;
  overflow: hidden;
}
.card__project {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-top: 20px;
}
.card__example {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.card__name {
  border: 1px solid #eeeeee;
}

.work__item .card:focus .card__name,
.work__item:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.primary-hero {
  text-align: center;
  background-color: #2f303a;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
}

.hero {
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

/* кнопка*/
.hero-button {
  padding: 10px 32px;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
  border: #188ce8;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.modal-contact {
  padding: 40px;
}
.modal-contact__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}
.modal-contact__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.modal-contact__icon {
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  left: 15px;
}
.modal-contact__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-contact__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 12px 11px 42px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.close:hover {
  fill: #2196f3;
}

.mail-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.label-sign-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-group-agrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.form-group-agrees__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-group-agrees__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.form-group-agrees__contract {
  color: #2196f3;
}
.form-group-agrees__input:focus + .form-group-agrees__icon, .form-group-agrees__input:hover + .form-group-agrees__icon {
  border: 2px solid #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
}
.form-group-agrees__input:checked + .form-group-agrees__icon {
  background-image: url(../images/icon-check.jpg);
  background-origin: border-box;
  border: #2196f3;
}
.form-group-agrees__submit {
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  padding: 0;
  cursor: pointer;
}
.form-group-agrees__submit:focus, .form-group-agrees__submit:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
}

span[class=form-group-agrees__icon] {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal-contact__input:focus {
  fill: #2196f3;
}

textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:focus,
textarea:hover,
textarea:active,
input:focus,
input:hover,
input:active {
  outline: none;
  border: 1px solid #2196f3;
}

input:focus + .modal-contact__icon,
input:hover + .modal-contact__icon,
input:active + .modal-contact__icon {
  fill: #2196f3;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-network__img {
  fill: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.footer-network__item:not(:last-child) {
  margin-right: 10px;
}
.footer-network__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.footer-network__logo:hover, .footer-network__logo:focus {
  outline: none;
  background-color: #2196f3;
}

.join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  color: #ffffff;
}

.main-nav__text--inverse {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logoweb {
  color: #2196f3;
}

.address {
  margin-right: 70px;
  margin-top: 20px;
  font-style: normal;
}
.address__email {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  border: 0;
  cursor: pointer;
}
.address__footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  margin-bottom: 9px;
  display: inline-block;
  border: 0;
}
.address__tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 14px;
  line-height: 1.71;
  border: 0;
  cursor: pointer;
}

.foot-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-network {
  padding-top: 12px;
}

.address__email:hover,
.address__email:focus,
.address__tel:hover,
.address__tel:focus {
  color: #2196f3;
}

.footer-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12px;
}

.footer-sign-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-sign {
  border: 1px solid transparent;
  width: 358px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-sign {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  border-radius: 4px;
  fill: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}
.button-sign:hover, .button-sign:focus, .button-sign:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgb(33, 150, 243);
}
.button-sign__icon {
  margin-left: 10px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
}
.advantage__item {
  display: block;
  width: 270px;
  margin-right: 30px;
}
.advantage__item:nth-child(4n) {
  margin-right: 0;
}

.thumb {
  display: block;
  border-radius: 4px;
  width: 270px;
  margin-left: 30px;
  margin-top: 30px;
}
.thumb__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.thumb__picture {
  margin: auto;
}
.thumb__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.thumb__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
}
.customers__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}
.customers__link:focus, .customers__link:hover {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

/* співробітники */
.t-person {
  background-color: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__person {
  background-color: #ffffff;
  border: 0;
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team_person:nth-child(4n) {
  margin-right: 0;
}
.team__name {
  margin-top: 30px;
  margin-bottom: 0;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* робота */
.images-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.images-work__item {
  margin-right: 30px;
  position: relative;
}
.images-work__item:nth-child(3n) {
  margin-right: 0;
}
.images-work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.images-work__name {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.network__link:focus, .network__link:hover {
  outline: none;
  border-radius: 50%;
  fill: #ffffff;
  background-color: #2196f3;
}
.network__item:not(:last-child) {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */