@charset "UTF-8";
.network__link, .customers__link, .button-sign, .footer-network__logo, textarea, .form-group-agrees__submit, .backdrop, .modal-contact__icon, .hero-button, .site-nav__link,
.main-nav__logo,
.site-nav-contact__link,
.main-nav__text--inverse,
.address__email,
.address__tel {
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

body {
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  font-family: "Roboro", sans-serif;
  border: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.site-nav__link,
.main-nav__logo,
.site-nav-contact__link,
.main-nav__text--inverse,
.address__email,
.address__tel {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

section {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

ul,
p,
h2 {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-headline {
  padding-top: 0;
}

.headline {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.primary-hero {
  text-align: center;
  background-color: #2f303a;
  padding: 200px 0;
  width: 100%;
  max-width: 768px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .primary-hero {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .primary-hero {
    max-width: 1600px;
  }
}

.hero {
  margin-bottom: 0;
  margin-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  height: 50px;
  width: 200px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
}
.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
  border: #188ce8;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 581px;
  width: 528px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.modal-contact {
  padding: 40px;
}
.modal-contact__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}
.modal-contact__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.modal-contact__icon {
  position: absolute;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  left: 15px;
}
.modal-contact__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-contact__input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 12px 11px 42px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.close:hover {
  fill: #2196f3;
}

.form-group-agrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.form-group-agrees__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-group-agrees__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.form-group-agrees__contract {
  color: #2196f3;
}
.form-group-agrees__input:focus + .form-group-agrees__icon, .form-group-agrees__input:hover + .form-group-agrees__icon {
  border: 2px solid #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
}
.form-group-agrees__input:checked + .form-group-agrees__icon {
  background-image: url(../images/icon-check.jpg);
  background-origin: border-box;
  border: #2196f3;
}
.form-group-agrees__submit {
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  padding: 0;
  cursor: pointer;
}
.form-group-agrees__submit:focus, .form-group-agrees__submit:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
}

span[class=form-group-agrees__icon] {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal-contact__input:focus {
  fill: #2196f3;
}

textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:focus,
textarea:hover,
textarea:active,
input:focus,
input:hover,
input:active {
  outline: none;
  border: 1px solid #2196f3;
}

input:focus + .modal-contact__icon,
input:hover + .modal-contact__icon,
input:active + .modal-contact__icon {
  fill: #2196f3;
}

.footer {
  display: block;
  text-align: center;
  background-color: #2f303a;
}

.footer-network {
  display: block;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-network__img {
  fill: #ffffff;
}
.footer-network__item {
  max-width: 44px;
}
.footer-network__item:not(:last-child) {
  margin-right: 10px;
}
.footer-network__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.footer-network__logo:hover, .footer-network__logo:focus {
  outline: none;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cont-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  color: #ffffff;
}

.main-nav__text--inverse {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logoweb {
  color: #2196f3;
}

.address {
  font-style: normal;
  margin-top: 20px;
}
.address__email {
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 14px;
  line-height: 1.71;
  border: 0;
  cursor: pointer;
}
.address__footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  display: inline-block;
  border: 0;
}
.address__tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 14px;
  line-height: 1.71;
  border: 0;
  cursor: pointer;
}

.foot-network {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .foot-network {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 165px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-nav__logo {
    margin-left: 115px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .mail-sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

.address__email:hover,
.address__email:focus,
.address__tel:hover,
.address__tel:focus {
  color: #2196f3;
}

.footer-sign-sign {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-sign {
  border: 1px solid transparent;
  width: 358px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: #2f303a;
}

.button-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  border-radius: 4px;
  fill: #f5f4fa;
  border: none;
  cursor: pointer;
}
.button-sign:hover, .button-sign:focus, .button-sign:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgb(33, 150, 243);
}
.button-sign__icon {
  margin-left: 10px;
}

.label-sign-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.adv {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .adv {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .adv {
    max-width: 1200px;
  }
}

.advantage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantage {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.advantage__item {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.advantage__item:nth-child(4n) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantage__item:nth-last-child(2) {
    margin-top: 30px;
  }
  .advantage__item:nth-last-child(1) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    margin-bottom: 0;
  }
}
.thumb__advantage {
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.thumb__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.thumb__paragraph {
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantage__item {
    max-width: 354px;
    margin-bottom: 0;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantage__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 270px;
    width: calc((100% - 120px) / 4);
  }
}
.cont-cust {
  margin: -15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .cont-cust {
    max-width: 719px;
  }
}
@media screen and (max-width: 1200px) {
  .cont-cust {
    max-width: 1023px;
  }
}
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customers__item {
  max-width: 210px;
  margin: 15px;
  width: calc((100% - 60px) / 2);
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  cursor: pointer;
}
.customers__link:focus, .customers__link:hover {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}
.customers__logo {
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customers__item {
    max-width: 226px;
    margin: 15px;
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    max-width: 170px;
    margin: 15px;
    width: calc((100% - 180px) / 6);
  }
}
.t-person {
  background-color: #f5f4fa;
}
@media screen and (max-width: 1200px) {
  .t-person {
    max-width: 1181px;
  }
}

.team__person {
  margin-left: auto;
  margin-right: auto;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  background-color: #ffffff;
  border: 0;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__person {
    max-width: 354px;
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__position {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .team__name {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .team__person {
    margin-right: 30px;
  }
  .team__person:nth-child(4n) {
    margin-right: 0;
  }
}
/* робота */
.images-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.images-work__item {
  margin-right: 30px;
  position: relative;
}
.images-work__item:nth-child(3n) {
  margin-right: 0;
}
.images-work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.images-work__name {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

@media (max-width: 1200px) {
  .main-headline {
    display: none;
  }
}
.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.network__link:focus, .network__link:hover {
  outline: none;
  border-radius: 50%;
  fill: #ffffff;
  background-color: #2196f3;
}
.network__item:not(:last-child) {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */