@import 'utils/variables';
@import 'components/common';
@import 'components/page-header';
@import 'components/portfolio';
@import 'components/hero';
@import 'components/modal';
@import 'components/footer';
@import 'components/advantages';
@import 'components/customers';
@import 'components/team';
@import 'components/work';
@import 'components/network';
@import 'components/mobile-menu';