.cont-cust {
  margin-left: auto;
  margin-right: auto;

  @include dq(only-phone) {
    max-width: $phone;
  }
  @include dq(only-tablet) {
    max-width: $tablet;
  }

  @include dq(desktop) {
    max-width: $desktop;
  }
}

.customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  align-items: center;
  justify-content: center;

  &__item {
    // max-width: 210px;
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  &__link {
    height: 92px;
    display: flex;
    border: 1px solid $logo-network-color;
    border-radius: 4px;
    fill: $logo-network-color;
    @extend %transition;
    cursor: pointer;
  }

  &__link:focus,
  &__link:hover {
    outline: none;
    border: 1px solid $accent-color;
    border-radius: 4px;
    fill: $accent-color;
  }

  &__logo {
    margin: auto;
  }
}
@include dq(only-tablet) {
  .customers__item {
    // max-width: 226px;
    width: calc((100% - 3 * 30px) / 3);
  }
}
@include dq(desktop) {
  .customers__item {
    // max-width: 170px;
    margin: 15px;
    width: calc((100% - 6 * 30px) / 6);
  }
}
