.footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // text-align: left;
  text-align: center;
    background-color: $background-color-hero;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-network {
  display: block;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  &__img {
    fill: $hero-color;
  }

  &__item {
    max-width: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__logo {
    @include networklogo();
    &:hover,
    &:focus {
      outline: none;
      background-color: $accent-color;
    }
  }
}

@include dq(only-tablet) {
  .cont-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

@include dq(desktop) {
  .cont-footer {
    display: flex;
      }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  color: $hero-color;
}

.main-nav__text--inverse {
  @include weblogo($hero-color);
  }

.logoweb {
  color: $accent-color;
}

.address {
  font-style: normal;
  margin-top: 20px;

  &__email {
    color: $footer-color;
    font-size: 14px;
    line-height: 1.71;
    border: 0;
    cursor: pointer;
    @extend %transition;
  }
  &__footer {
    color: $hero-color;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
    display: inline-block;
    border: 0;
  }
  &__tel {
    display: inline-block;
    color: $footer-color;
    font-size: 14px;
    line-height: 1.71;
    border: 0;
    @extend %transition;
    cursor: pointer;
  }
}

.foot-network {
  margin-top: 60px;
  margin-bottom: 60px;
  @include dq(only-tablet) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 165px;
  }
}

.mail-sign {
  @include dq(only-tablet) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
}

.address__email:hover,
.address__email:focus,
.address__tel:hover,
.address__tel:focus {
  color: $accent-color;
}

.footer-sign-sign {
  display: block;
  justify-content: center;
}

.input-sign {
  border: 1px solid transparent;
  
  width: 358px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: $background-color-hero;

  @media screen and (max-width: $phone) {
    width: 90vw;
  }
}

.button-sign {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: $hero-color;
  letter-spacing: 0.06em;
  background-color: $active-color;
  border-radius: 4px;
  fill: $bg-color;
  border: none;
  cursor: pointer;
  @extend %transition;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $active-footer-color;
  }

  &__icon {
    margin-left: 10px;
  }
}

.label-sign-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.63;
  color: $hero-color;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@include dq(desktop) {
  .mail-sign {
    display: flex;
    margin-left: 92px;
    }
    .footer {
      text-align: left;
    }
  .footer-sign-sign {
    display: flex;
      }

  .input-sign {
    padding-left: 16px;
    display: flex;
  }
  .address {
    margin-top: 20px;
  }
  .address__footer {
    margin-bottom: 8px;
  }
  .address__email {
    display: inline-block;
    margin-bottom: 8px;
  }
  
 .foot-address {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-sign {
    display: flex;
    justify-content: baseline;
  }
  .button-sign {
    margin-left: 12px;
    margin-top: 42px;
  }
  .cont-footer__blok {
    margin-right: 92px;
  }
  .foot-network {
    margin-bottom: 42px;
    margin-top: 0;
   } 

}

