.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;

  @include dq(only-tablet) {
    display: none;
  }
  @include dq(desktop) {
    display: none;
  }
  background-color: $hero-color;
  align-items: center;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: $hero-color;
  transform: translateY(-200%);
  @extend %transition;
  z-index: 2;

  & .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @include dq(only-tablet) {
    display: none;
  }
  @include dq(desktop) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateY(0);
}

.mobile-site-nav {
  display: column;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    color: $title-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.mobile-site-nav-contact {
  display: column;
  &__item {
    margin-bottom: 64px;
  }
  &__item--tel {
    margin-bottom: 32px;
  }
  &__link {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text-color;
    font-size: 24px;
  }
  &__link--tel {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $accent-color;
    font-size: 34px;
  }
}

.mobile-nav-network {
  display: flex;
  &__link {
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: rgba(33, 150, 243, 1);
    font-size: 18px;
  }
  &__item {
    position: relative;
    margin-right: 20px;
  }
  &__item:not(:last-child)::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
