.network {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

  @include dq(desktop) {
  padding-bottom: $item-work-gap;
}



  &__link {
    @include networklogo($logo-network-color, none);
  }

  &__link:focus,
  &__link:hover {
    outline: none;
    border-radius: 50%;
    fill: $hero-color;
    background-color: $accent-color;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
